pandas == 1.5.3
numpy == 1.24.1
plotly == 5.13.1
requests == 2.28.2
tqdm == 4.65.0
folium == 0.14.0
seaborn == 0.13.0
matplotlib == 3.8.2
statsmodels == 0.14.0
prophet == 1.1.5
geopy == 2.4.0
prettytable == 3.9.0
branca == 0.7.0
vincent == 0.4
googlemaps == 4.10.0
